<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://www.pexels.com/photo/1839919/download/?search_query=galleria%20d%27arte%20&tracking_id=hgg1m05udf6) no-repeat center center fixed;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;

}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
    .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
        .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
    
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dettagli Utente</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success navbar-fixed-top" >
<ul class="nav navbar-nav navbar-left" >

          <li  class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="listaQuadri" class="glyphicon glyphicon-camera"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Lista Quadri</strong></font></a></li>
           <li ><a href="inserimentoQuadro" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Pannello di controllo</strong></font></a></li>
     
      </ul>
        		
    <fieldset sec:authorize="isAuthenticated()" style="padding: 12px;margin-left:1100px;">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    		
    </fieldset>
    </nav>
    <div class="container">
    <div class="jumbotron myBackground">
	<h1 th:text = "'Dettagli di: ' + ${utente.username}" style="color:blue;">Utente</h1>
	<table class="table">
		<tr><td th:text = "'Username: ' + ${utente.username}"> </td></tr>
		<tr><td th:text = "'Nome Utente: ' + ${utente.nome}"> </td></tr>
		<tr><td th:text = "'Indirizzo email: ' + ${utente.email}"> </td></tr>
	<tr><td th:text = "'Ruolo Utente: ' + ${utente.ruoloUtente.ruolo}"> </td></tr>
	</table>
	 	<div sec:authorize="hasAuthority('ADMIN')">
    <a class="btn btn-md btn-primary " th:href="@{/modificaUtente(id=${utente.id})}">
         <i class="glyphicon glyphicon-pencil" style="display:inline" ></i><span>  Modifica Utente<br/></span>
         </a> 

    <a class="btn btn-md btn-danger " th:href="@{/rimuoviUtente(id=${utente.id})}">
         <i class="glyphicon glyphicon-remove" style="display:inline"></i><span>  Rimuovi Utente<br/></span>
         </a>
	</div>



	</div>
	</div>
</body>
</html>