<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://www.pexels.com/photo/1839919/download/?search_query=galleria%20d%27arte%20&tracking_id=hgg1m05udf6) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
        .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	//questa funzione mi controlla che il valore inserito dentro il campo password, e quello conferma password siano uguali
	//altrimenti applica un po' di magia CSS e ci da qualche errore visivo. In questo modo evito di confermare la password nel back-end
	function checkPasswordMatch() {
	    var password = $.trim($("#Password").val());
	    var confirmPassword = $.trim($("#ConfermaPassword").val());
	
	    if (password != confirmPassword){
	    		if(password.length > 1){
		       	 	$("#spanCheckPasswordMatch").html("Password diverse");
		       	 	$('#spanCheckPasswordMatch').css("color", "red");
		       	 	$('#Password').css("border", "1px solid red");
		       	 	$('#ConfermaPassword').css("border", "1px solid red");
		        	
	    		}
	    	}
	    else{
	        $("#spanCheckPasswordMatch").html("Le password sono uguali!");
       	 	$('#spanCheckPasswordMatch').css("color", "green");
       	 	$('#Password').css("border", "1px solid green");
       	 	$('#ConfermaPassword').css("border", "1px solid green");
	        
	    }
	}
	
	$(document).ready(function () {
	   $("#ConfermaPassword").keyup(checkPasswordMatch);
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
	    $('#ruoloUtente').change(function () {
	      $('#autoUpdate').fadeToggle();
	    });
	});
</script>
<style type="text/css">
	#autoUpdate{display:none;
				}
</style>
<title>modifica Utente</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success navbar-fixed-top" >
<ul class="nav navbar-nav navbar-left" >

          <li  class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="listaQuadri" class="glyphicon glyphicon-camera"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Lista Quadri</strong></font></a></li>
           <li ><a href="inserimentoQuadro" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Pannello di controllo</strong></font></a></li>
     
      </ul>	
        <fieldset sec:authorize="isAuthenticated()" style="padding: 12px; margin-left:1100px;">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    		
    </fieldset>
    </nav>

	<div class="container">
    <div class="jumbotron myBackground">
  <div class="row">
     <h1 class="text-center" style="color:brown">Modifica Dati Utente </h1>
 	
    <div class="col-md-4 col-md-offset-4" style="margin-left:30%">
      <form class="form-horizontal" role="form" method="POST" th:action="@{/modificaUtente}" th:object = "${utente}">	
      <input type="hidden" th:field="*{id}" />	
        <fieldset>
		<div class="form-group">
            <label class="col-sm-3 control-label" for="username">Username</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Username" class="form-control" id="username" name="username" th:field = "*{username}" />
              <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span>
				<span th:if="${usernameEsistente}" th:text ="'Lo username selezionato non e' disponibile, scegline un altro!'">Error</span>

              
				
				 
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="Password">Password</label>
            <div class="col-sm-9">
              <input type="password" placeholder="Password" class="form-control" id="Password" th:field = "*{password}" name="Password" />
              <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
               
			
            </div>
          </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ConfermaPassword">Conferma Password</label>
            <div class="col-sm-9">
              <input type="password" placeholder="Conferma Password" class="form-control" id="ConfermaPassword" name="ConfermaPassword"/>
				<span id="spanCheckPasswordMatch"></span>
         </div>
          </div>	
		  <div class="form-group">
            <label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-9">
              <input type="email" placeholder="Email" class="form-control" id="email" name="email"  th:field = "*{email}"/>
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
     
		   </div>
          </div>	
		<div class="form-group">
            <label class="col-sm-3 control-label" for="nome">Nome</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Nome" class="form-control" id="nome" name="nome" th:field = "*{nome}"/> 
              <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span>
             
              
              
            </div>
          </div>
			
		<div class="form-group">
            <label class="col-sm-3 control-label" for="cognome">Cognome</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Cognome" class="form-control" id="cognome" name="cognome" th:field = "*{cognome}" />
              <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Error</span>
            </div>
		</div>
	
		<div style="margin-top: 10px">
				<label for="ruoloUtente" style="margin-top: 10px">Cambiare
					ruolo Utente?</label> <input type="checkbox" name="RuoloUtente"
					id="ruoloUtente" />
			</div>
		<div class="form-group" style="margin-top: 10px; margin-bottom: 20px; margin-left:30%;">
				<select name="ruoloEsistenti" id="autoUpdate" class="autoUpdate">
					<option value="" th:disabled="true" th:selected="true">Seleziona un ruolo...</option>
					<option th:text="'USER'" th:value="'USER'" />
					<option th:text="'ADMIN'" th:value="'ADMIN'" />
				</select>
			</div>

		 <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-central">
			<span><button class="btn btn-primary" type="submit" id="submit" style="margin-top: 10px; margin-left:30%;"  >Modifica Dati Utente</button></span>		
		</div>
		</div>
		</div>
		
		
		</fieldset>
		</form>
	</div>
	</div>
	</div>
	</div>
</body>

</html>