<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://www.pexels.com/photo/1839919/download/?search_query=galleria%20d%27arte%20&tracking_id=hgg1m05udf6) no-repeat;
 
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
 
font-size: 14px;
}
.navbar-default .navbar-nav>li>a {
    
    padding-bottom: 40px;  
  
    }
    
 .myBackground{
    background-color:rgba(255,255,255,0.5);
    
    color:inerith;
    }
    .warning{
    top:70px;
    left:100px;
    right:100px;
    position:absolute;
    }
   .navbar-default .navbar-nav>li>a:hover{

    background-color:#dddddd;
  
    }

</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>


<title>Galleria Nuova</title>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	//nasconde i messaggi di conferma dopo 2 secondi
	var fade_out = function() {
  		$("#errLogin").fadeOut();
  		$("#logoutSuccesso").fadeOut();
  		$("#sessione").fadeOut();
  		$("#inserito").fadeOut();
	}

	setTimeout(fade_out, 2000);
</script>
</head>
<body>

<nav class="navbar navbar-dark bg-success navbar-fixed-top" >

<ul class="nav navbar-nav navbar-left" >

          <li  class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="listaQuadri" class="glyphicon glyphicon-camera"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Lista Quadri</strong></font></a></li>
           <li ><a href="inserimentoQuadro" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Pannello di controllo</strong></font></a></li>
     
      </ul>
	

  
    <form class="form-inline my-lg-0 my-5" method="POST" th:action="@{/login}"  sec:authorize="!isAuthenticated()" style="display:inline;  ">
      <input  class="form-control mr-sm-1"  type="text" placeholder="Username"  style="padding-top:2px; margin-left:600px;"  name="username"/>
      <input  type="password"  class="form-control mr-sm-1" placeholder="password" style="padding-top:2px; margin-right:2px;"  name="password"/>
      <button class="btn btn-primary" type="submit" >Login</button>
 	 <button class="btn btn-success" type="submit" form="formRegistrati">Registrati</button>
       <fieldset sec:authorize="!isAuthenticated()">      
       <label for="checkbox inline" class="bg-info" style="margin-left:600px; " >Rimani connesso?
       
         <input type="checkbox" name="ricordami" id="checkbox1" value="on" />
         </label>
    </fieldset>
    </form>
    		<form action="registration" method="GET" id="formRegistrati"></form>
    		
  <fieldset sec:authorize="isAuthenticated()" style="padding: 12px; margin-left:1100px;">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
     
    		
    </fieldset>  
</nav>
  <div sec:authorize="!isAuthenticated()" class="py-5"> 
  	<div class="alert alert-success warning"  th:if="${param.logout}" id="logoutSuccesso">
  			<strong><span>Hai effettuato il logout correttamente</span> </strong>
  	</div>
	<div class="alert alert-danger warning" th:if="${param.error}" id="errLogin">
		<strong><span>Username e/o Password invalidi.</span> </strong>
	</div>
	<div class="alert alert-warning warning" th:if="${param.expired}" id="sessione"> 
		<strong><span >La tua sessione è scaduta.</span> </strong>
	</div>
	<div class="alert alert-success warning" th:if="${utenteInserito}" id="inserito">  
		<span> Utente <b th:text="${utente.username}"></b> registrato correttamente!</span> 
	  </div>
	    
    </div>
     <div class="container">
  	<div class="jumbotron myBackground">
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>
		
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/VanGogh-starry_night_ballance1.jpg" />
		    </div>
		
		    <div class="item">
		      <img src="http://lacapannadelsilenzio.it/wp-content/uploads/2014/12/matisse-25.jpg" />
		    </div>
		
		    <div class="item">
		      <img src="http://s4.thingpic.com/images/eU/Dc9zf789wnESEaYvvJfuZvxF.jpeg" />
		    </div>
		  </div>
		
		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>