<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://www.pexels.com/photo/1839919/download/?search_query=galleria%20d%27arte%20&tracking_id=hgg1m05udf6) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
        .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inserimento Autore</title>
</head>
<body> 
<nav class="navbar navbar-dark bg-success navbar-fixed-top" >
<ul class="nav navbar-nav navbar-left" >

          <li  class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="listaQuadri" class="glyphicon glyphicon-camera"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Lista Quadri</strong></font></a></li>
           <li ><a href="inserimentoQuadro" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Pannello di controllo</strong></font></a></li>
     
      </ul>
        		
       <fieldset sec:authorize="isAuthenticated()" style="padding: 12px; margin-left:1050px;">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    </fieldset>
       </nav>
	<div class="container">
    <div class="jumbotron myBackground">
  <div class="row">
     <h1 class="text-center" style="color:blue">Inserimento Dati Autore</h1>
  
    <div class="col-md-4 col-md-offset-4">
      <form class="form-horizontal" role="form" enctype="multipart/form-data" action="#"  th:action="@{/inserimentoAutore}" th:object = "${autore}" method = "POST"> 
             <fieldset>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="nomeAutore">Nome Autore</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Nome" class="form-control" id="nomeAutore" th:field = "*{nome}" th:readonly = "${inseritoCorrettamente}"/>
<span th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
            </div>
          </div>
			
			
		   <div class="form-group">
            <label class="col-sm-3 control-label" for="cognomeAutore">Cognome</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Cognome" class="form-control" id="cognomeAutore" th:field = "*{cognome}" th:readonly = "${inseritoCorrettamente}"/>
              <span th:if="${#fields.hasErrors('cognome')}" th:text="#{label.mandatory}">Error</span>

            </div>
          </div>

			
		 <div class="form-group">
            <label class="col-sm-3 control-label" for="nazionalita">Nazionalità</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Nazionalità"  class="form-control" id="nazionalita" th:field = "*{nazionalita}" th:readonly = "${inseritoCorrettamente}"/> 
              <span th:if="${#fields.hasErrors('nazionalita')}" th:text="#{label.mandatory}">Error</span>
            </div>
          </div>
			
		<div class="form-group">
            <label class="col-sm-3 control-label" for="dataob">Data di Nascita</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" th:field = "*{dataN}" id="dataob" th:readonly = "${inseritoCorrettamente}"/>                            
              <span th:if="${#fields.hasErrors('dataN')}" th:text="#{label.mandatory}">Error</span>
              </div>
              </div>
		<div class="form-group">
            <label class="col-sm-3 control-label" for="dataod">Data di Morte</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" th:field = "*{dataM}" id="dataob" th:readonly = "${inseritoCorrettamente}"/>                           
               <span th:if="${#fields.hasErrors('dataM')}" th:text="#{label.mandatory}">Error</span>
            </div>
      </div>
			 <div class="form-group" th:if = "${inseritoCorrettamente != true}">
            <label class="col-sm-10 control-label" for="immagineQuadro" >Immagine Quadro(only .jpg)</label>
            <div class="col-sm-3">
              <input type="file"  accept=".jpg" id ="immagineQuadro" name="immagineQuadro" />
            </div>
          </div>
            <div class="form-group" th:if = "${inseritoCorrettamente != true}">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-central">
			<span><button class= "btn btn-primary" type = "submit" style="margin-top: 10px;" >Completa Inserimento Quadro</button></span>
			</div>
			</div>
			</div>
		<div th:if = "${inseritoCorrettamente}">
		<h3 style="color:green; display:inline;" th:text = "'Quadro ' + ${quadro.titolo} + ' inserito!'"></h3>	
		   
		   <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-central">
			<span><button class= "btn btn-primary" type="submit" form = "inserimentoQuadroForm" style="margin-top: 10px;" >Nuovo Inserimento Quadro</button></span>
	
	
		</div>
		</div>
		</div>
				</div>
				</fieldset>
				</form>
				<form action="/inserimentoQuadro" method ="GET" id="inserimentoQuadroForm">
		</form>
				</div>
				</div>
				</div>
				</div>			

</body>
</html>