<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


<style type="text/css">
body {
background: url(https://www.pexels.com/photo/1839919/download/?search_query=galleria%20d%27arte%20&tracking_id=hgg1m05udf6) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;


}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground {
    background-color:rgba(255,255,255,0.9);
    color:inerith;}

   button{
  margin:auto;
  display:block;
  }
      .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
 


   
    
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	    $('#checkbox1').change(function () {
	      $('#autoUpdate').fadeToggle();
	      $('#nascosto').fadeToggle();
	    });
	});
</script>
<style type="text/css">
	#autoUpdate{
		display:none;
	}
	#nascosto{
		display:none;
	}
</style>


<title>Inserimento quadro</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success navbar-fixed-top" >
<ul class="nav navbar-nav navbar-left" >

          <li  class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="listaQuadri" class="glyphicon glyphicon-camera"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Lista Quadri</strong></font></a></li>
           <li ><a href="inserimentoQuadro" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Pannello di controllo</strong></font></a></li>
     
      </ul>
        		
    <fieldset sec:authorize="isAuthenticated()" style="padding: 12px; margin-left:1100px;">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    		
    </fieldset>
    </nav>
	<div class="container">
    <div class="jumbotron myBackground">
  <div class="row">
     <h1 class="text-center" style="color:green">Inserimento Dati Quadro</h1>
  
    <div class="col-md-4 col-md-offset-4">
      <form class="form-horizontal" role="form" enctype="multipart/form-data" action="#" th:action = "@{/inserimentoQuadro}" th:object = "${quadro}" method = "POST">
        <fieldset>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="titolo">Titolo</label>
            <div class="col-sm-10">
              <input type="text" placeholder="titolo" class="form-control" id="titolo" th:field = "*{titolo}"/>
				<span th:if="${#fields.hasErrors('titolo')}" th:text="#{label.mandatory}">Error
				</span>
            </div>
          </div>
			
			
		   <div class="form-group">
            <label class="col-sm-2 control-label" for="anno">Anno</label>
            <div class="col-sm-10">
              <input type="text" placeholder="anno" class="form-control" id="anno" th:field = "*{anno}"/>
              <span th:if="${#fields.hasErrors('anno')}" th:text="#{label.mandatory}">Error</span>

            </div>
          </div>

			
		 <div class="form-group">
            <label class="col-sm-2 control-label" for="tecnica">Tecnica</label>
            <div class="col-sm-10">
              <input type="text" placeholder="tecnica"  class="form-control" id="tecnica" th:field = "*{tecnica}"/> 
              <span th:if="${#fields.hasErrors('tecnica')}" th:text="#{label.mandatory}">Error</span>
            </div>
          </div>
			
		<div class="form-group">
            <label class="col-sm-3 control-label" for="dimensioni">Dimensioni</label>
            <div class="col-sm-9">
              <input type="text" placeholder="dimensioni" class="form-control" th:field = "*{dimensioni}" id="dimensioni" />
                            <span th:if="${#fields.hasErrors('dimensioni')}" th:text="#{label.mandatory}">Error</span>
              
            </div>
      </div>
			 <div class="form-group" id="nascosto">
            <label class="col-sm-10 control-label" for="immagineQuadro" >Immagine Quadro(only.jpg)</label>
            <div class="col-sm-3">
              <input type="file"  accept=".jpg" id ="immagineQuadro" name="immagineQuadro" />
            </div>
          </div>
			
			
						
			 <label for="checkbox inline" >Selezionare Autore esistente?
  				<input type="checkbox" name="inserisciAutore" id="checkbox1"/>
				</label>

          
					<select name = "autoriEsistenti" id="autoUpdate" class="autoUpdate">
						<option value="" th:disabled = "true" th:selected="true">Seleziona un autore...</option>
						<option th:each="autore : ${autori}" th:text = "${autore.nome} + ' ' + ${autore.cognome}" th:value = "${autore.id}"/>
					</select>

			  <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-central">
			<span><button class= "btn btn-primary" type = "submit" style="margin-top: 10px;">Inserisci Dati Quadro</button></span>
			</div>
			</div>
			</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>



	
</body>
</html>