<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
body {
background: url(https://www.pexels.com/photo/1839919/download/?search_query=galleria%20d%27arte%20&tracking_id=hgg1m05udf6) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
    .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
     .warning{
    top:70px;
    left:100px;
    right:100px;
    position:absolute;
    }
    
    
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	//nasconde i messaggi di conferma dopo 2 secondi
	var fade_out = function() {
  		$("#autorecancellato").fadeOut();
  		$("#quadrocancellato").fadeOut();

	}

	setTimeout(fade_out, 2000);
</script>
<title>Lista Quadri</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success navbar-fixed-top" >
<ul class="nav navbar-nav navbar-left" >

          <li  class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="listaQuadri" class="glyphicon glyphicon-camera"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Lista Quadri</strong></font></a></li>
           <li ><a href="inserimentoQuadro" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black" style = "font-family:courier,arial,helvetica;"><strong> Pannello di controllo</strong></font></a></li>
     
      </ul>
    <fieldset sec:authorize="isAuthenticated()" style="padding: 12px;margin-left:1100px;">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    		
    </fieldset>
</nav>
  	<div class="alert alert-success warning"  th:if="${autoreCancellatoCorrettamente}" id="autorecancellato">
  			<strong><span>L'autore è stato cancellato correttamente!</span> </strong>
  	</div>
  	  	<div class="alert alert-success warning"  th:if="${quadroCancellatoCorrettamente}" id="quadrocancellato">
  			<strong><span>Il Quadro è stato cancellato correttamente</span> </strong>
  	</div>
    <div class="container">
    <div class="jumbotron myBackground">
	<div>
	
		<form action = "#" th:action="@{/ricerca}" method = "POST" class="form-inline">
			<label class="mr-sm-2" for="selectRicerca">Ricerca per:</label> 
			<select class="form-control" name = "selectRicerca" id = "selectRicerca">
				<option value="1" th:selected="true">Titolo Quadro</option>
				<option value="2">Anno Quadro</option>
				<option value="3">Nome e/o Cognome Autore</option>
				<option value="4">Nazionalita Autore</option>
			</select>
			<input class="form-control mb-2 mr-sm-2 mb-sm-0" type ="text" name ="searchBox" />
			<input class= "btn btn-primary" type="submit" value = "Ricerca"/>
		</form>
	</div>
	<span th:if ="${nessunRisultato}" style ="color:red">La ricerca non ha prodotto nessun risultato con i parametri indicati!</span>
	<h1><font color="green">Lista dei Quadri:</font></h1>
	
		<div class="row" th:each="quadro : ${quadri}">
		<hr/>
            <div class="col-md-7">
                <span th:if ="${quadro.immagine != null}">
                <a th:href="@{/infoQuadro(id=${quadro.id})}">
                <img th:src="'/quadro/' + ${quadro.immagine}" th:alt ="${quadro.titolo}" height="300px;" width="600px;" style = "display:block;"/>
                </a>
                </span>
                
                <span th:if ="${quadro.immagine == null}">
                <a th:href="@{/infoQuadro(id=${quadro.id})}">
                <img src="http://www.hvdesaicollege.org/uploads/Department/M.Sc%20Microbiology/noImageFound.jpg" th:alt ="${quadro.titolo}" height="300px;" width="600px;" style = "display:block;"/>
                </a>
                </span>
                
               
            </div>
			<div class="col-md-5">
                <h3><span th:text="'Titolo Opera: '+ ${quadro.titolo}"></span></h3>
                <h4><span th:text="'Anno Opera: '+ ${quadro.anno}"></span></h4>
                <h4><span th:text="'Autore: ' +${quadro.autore.nome}+' '+${quadro.autore.cognome}"></span></h4>
                <a class="btn btn-primary" th:href="@{/infoQuadro(id=${quadro.id})}">Visualizza Opera <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
		</div>
	<h1><font color="red">Lista degli Autori:</font></h1>
	
	<table class="table" >
	<tr>
	<th>Autore</th>
	<th>Nazionalità</th>
	</tr>

		<tr th:each="autore : ${autori}">
		<td> <a th:href="@{/infoAutore(id=${autore.id})}" th:text="${autore.nome} + ' ' + ${autore.cognome}"></a></td>
		<td th:text = "${autore.nazionalita}"> </td>
		</tr>
	</table>
		


	
	
	</div>
	</div>
</body>
</html>